{% extends 'home/base.html' %}


{% block datail %}
<div class="container">
    <div class="news">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-xl-6">
            {% if news_det.published_date %}
                <h1>{{ news_det.title }}</h1>
                <div class="date">
                Дата публикации: {{ news_det.published_date }}
                </div>
                <a href="#" class="thumbnail">
                    <img src="{{ news_det.image.url }}"  height="500" width="540" alt="" class="img-responsive">
                </a>
           </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xl-12">
                <div class="item_news_text">
                    <div class="thumbnail">
                    <p>{{ news_det.text }}</p>
                        {% if news_det.source != '' %}
                         <h4> <a href="{{ news_det.source }}">Источник</a> </h4>
                         {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
        {% endif %}
</div>
{% endblock %}

{% block content %}
    {% for news in news_other %}
    <div class="item_news">
        <div class="thumbnail">
            <a href="{%  url 'news_detail' pk=news.pk %}">
            <img src="{{ news.image.url }}" alt="" class="img-responsive">
                </a>
            <div class="caption">
                <h3><a href="{%  url 'news_detail' pk=news.pk %}">{{ news.title }}</a></h3>
                Дата публикации: {{ news.published_date.date }}
                <p>{{ news.text |truncatechars:150}}</p>
                <a href="{%  url 'news_detail' pk=news.pk %}" class="btn btn-success">
                    Подробнее <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}