{% extends 'home/base.html' %}

{% block detail %}
        <div id="Carousel" class="carousel slide" data-ride="carousel">
	<!-- Слайды карусели -->
	<div class="carousel-inner">
		<!-- Слайд 1 -->
		<div class="item active">
			<h2>Заголовок 1</h2>
			<p>Дополнительная информация слайда 1</p>
			<button class="btn btn-primary btn-lg">Какая-то кнопка</button>
		</div>
		<!-- Слайд 2 -->
		<div class="item">
			<h2>Заголовок 2</h2>
			<p>Дополнительная информация слайда 2</p>
			<button class="btn btn-success btn-lg">Какая-то кнопка</button>
		</div>
		<!-- Слайд 3 -->
		<div class="item">
			<h2>Заголовок 3</h2>
			<p>Дополнительная информация слайда 3</p>
			<button class="btn btn-default btn-lg">Какая-то кнопка</button>
		</div>
	</div>

	<!-- Навигация карусели (следующий или предыдущий слайд) -->
	<!-- Кнопка, переход на предыдущий слайд с помощью атрибута data-slide="prev" -->
	<a class="left carousel-control" href="#Carousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<!-- Кнопка, переход на следующий слайд с помощью атрибута data-slide="next" -->
	<a class="right carousel-control" href="#Carousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>
</div>
{% endblock %}

    {% block content %}

        {% for post_news in news %}
            <div class="item_news">
                <div class="thumbnail">

                    <a href="{%  url 'news_detail' pk=post_news.pk %}">
                        <img src="{{ post_news.image.url }}"  alt="" class="img-responsive" >
                    </a>
                    Дата публикации: {{ post_news.published_date }}
                    <div class="caption">
                        <h3><a href="{%  url 'news_detail' pk=post_news.pk %}">{{ post_news.title }}</a></h3>
                        <p>{{ post_news.text |truncatechars:150}}</p>
                        <a href="{%  url 'news_detail' pk=post_news.pk %}" class="btn btn-success">Подробнее <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        {% endfor %}

    {% endblock content %}