{% extends 'home/base.html' %}


    {% block post_datail %}
        <div class="container">
            <div class="news">
                {% if news_det.news_published_date %}
                <h1>{{ news_det.news_title }}</h1>
                    <div class="date">
                    {{ news_det.news_published_date }}
                    </div>
                <img src="{{ news_det.news_image.photo_image.url }}" alt="" class="img-responsive">
                <p>{{ news_det.news_text }}</p>
                <hr>
            </div>
                {% endif %}
        </div>

    {% endblock %}