

body {
    background: url(http://www.vestikavkaza.ru/upload/nvk/2015_Apr/Kubanskie-uchenye-razrabotayut-gazon-generiruyushchiy-energiyu.jpg);
    background-size: cover;

}

@media screen and (max-width: 767px){
     .masonry[data-columns]::before{
         content: '1 .col-xs-12' ;
     }
}

@media screen and (min-width: 768px) and (max-width: 991px){
     .masonry[data-columns]::before{
         content: '2 .col-xs-6' ;
     }
}

@media screen and (min-width: 992px) and (max-width: 1199px){
     .masonry[data-columns]::before{
         content: '3 .col-xs-4' ;
     }
}

@media screen and (min-width: 1200px){
     .masonry[data-columns]::before{
         content: '4 .col-xs-3' ;
     }
}

.pagination li a {
    color: #419641;
}

.footer li a {
    color: #0f0f0f;
 background: yellow;
}


.item_team .thumbnail {
    background: #ffbb33;
    border:0;
    box-shadow:0 0 30px black;
        }

.item_news .thumbnail {
    background: white;
    border:0;
    box-shadow:0 0 30px black;
        }

.item_tournaments .thumbnail{
    background: #4285F4;
    border:0;
    box-shadow:0 0 30px black;
}
