{% extends 'home/base.html' %}

{% block detail %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-8 col-xl-8">
                <h2>{{ coach_det.surname }} {{ coach_det.name }} {{ coach_det.middle_name }}</h2>
                    <div class="date">
                    Дата рождения: {{ coach_det.year_birth }}
                    </div>
                Звание: {{ coach_det.rank.name }}
            </div>
                <div class="col-sm-4 col-md-4 col-xl-4">
                    {% if coach_det.photo.pk != null %} <!--Если нет картинки ничего не выводить-->
                        <a href="#" class="thumbnail">
                        <img src="{{ coach_det.photo.image.url }}" height="500" width="500" alt="" class="img-responsive">
                        </a>
                    {% endif %}
                </div>
        </div>
    {% if coach_det.team.pk != null %}
        <hr>
        <h3>Команда</h3>
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <div class="item_team">
                    {% if coach_det.team.emblem.image.url != "" %} <!--Если нет картинки ничего не выводит-->
                        <div class="thumbnail">
                            <a href="{%  url 'team_detail' pk_team=coach_det.team.pk  %}">
                            <img src="{{ coach_det.team.emblem.image.url }}" alt="" class="img-responsive">
                            </a>
                    {% endif %}
                        <div class="caption">
                            <h4>
                                <a href="{%  url 'team_detail' pk_team=coach_det.team.pk  %}">
                                {{ coach_det.team.name }}
                                </a>
                            </h4>
                            <p>{{ coach_det.team.text |truncatechars:150}}</p>
                            <a href="{%  url 'team_detail' pk_team=coach_det.team.pk %}" class="btn btn-success">
                                Подробнее <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
        <hr>
    <h3>Другие тренера</h3>
    </div>
{% endblock %}

{% block content %}

    {% for coach in coachs %}
    <div class="item_coach">
        <div class="thumbnail">
            <a href="{%  url 'coach_detail' pk_coach=coach.pk%}">
            <img src="{{ coach.photo.image.url }}" alt="" class="img-responsive">
                </a>
            <div class="caption">
                <h3><a href="{%  url 'coach_detail' pk_coach=coach.pk%}">{{ coach }}</a></h3>
                <p>Должность: {{ coach.rank.name }}</p>
                <a href="{%  url 'coach_detail' pk_coach=coach.pk %}" class="btn btn-success">
                    Подробнее <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}