{% extends 'home/base.html' %}

{% block datail %}


    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-8 col-xl-8">
                <h2>{{ player_det.surname }} {{ player_det.name }} {{ player_det.middle_name }}</h2>
                    <div class="date">
                    Дата рождения: {{ player_det.year_birth }}
                    </div>
            </div>
                <div class="col-sm-4 col-md-4 col-xl-4">
                    <a href="#" class="thumbnail">
                    <img src="{{ player_det.photo.image.url }}" height="500" width="500" alt="" class="img-responsive">
                    </a>
                </div>
        </div>
        <hr>
        <h3>Команда</h3>
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <div class="item_team">
                    <div class="thumbnail">
                        <a href="{%  url 'team_detail' pk_team=player_det.team.pk  %}">
                        <img src="{{ player_det.team.emblem.image.url }}" alt="" class="img-responsive">
                        </a>
                        <div class="caption">
                            <h4>
                                <a href="{%  url 'team_detail' pk_team=player_det.team.pk  %}">
                                {{ player_det.team.name }}
                                </a>
                            </h4>
                            <p>{{ player_det.team.text |truncatechars:150}}</p>
                            <a href="{%  url 'team_detail' pk_team=player_det.team.pk %}" class="btn btn-success">
                                Подробнее <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    <h3>Другие игроки</h3>
    </div>
{% endblock %}

{% block content %}

    {% for player in players %}
    <div class="item_player">
        <div class="thumbnail">
            <a href="{%  url 'player_detail' pk_player=player.pk pk_team=player.team.pk %}">
            <img src="{{ player.photo.image.url }}" alt="" class="img-responsive">
                </a>
            <div class="caption">
                <h3><a href="{%  url 'player_detail' pk_player=player.pk pk_team=player.team.pk%}">{{ player }}</a></h3>
                <p>Команда: <a href="{% url 'team_detail' pk_team=player.team.pk %}">{{ player.team.name }}</a></p>
                <a href="{%  url 'player_detail' pk_player=player.pk pk_team=team_det.pk %}" class="btn btn-success">
                    Подробнее <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
    {% endfor %}


    {% endblock %}