{% extends 'home/base.html' %}


    {% block datail %}
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-8 col-xl-8">
                    <h1><a href="#">{{ team_det.name }}</a></h1>
                        <div class="date">
                        Дата образования: {{ team_det.created_date }}
                            <p>{{ team_det.text }}</p>
                        </div>
                </div>
                    <div class="col-sm-4 col-md-4 col-xl-4"><img src="{{ team_det.emblem.image.url }}" height="500" width="500" alt="" class="img-responsive"></div>

                    <hr>

            </div>
        <div class="coach">
        <h3>Тренерский состав:</h3>
            {% for coach in coachs %}
                {% if coach.rank.name == 'Старший' %}
                    <h4> Старший тренер: <a href="{% url 'coach_detail' pk_coach=team_det.pk %}"> {{ coach }} </a></h4>
                    <img src="{{ coach.photo.image.url }}" height="600" width="540" alt="" class="img-responsive">
                {% else %}
                    <h4> Помошники тренера: <a href="{% url 'coach_detail' pk_coach=team_det.pk %}"> {{ coach }} </a></h4>
                    <img src="{{ coach.photo.image.url }}" height="600" width="540" alt="" class="img-responsive">
                {% endif %}
            {% endfor %}
            <h3> Тренер: <a href="{% url 'coach_detail' pk_coach=team_det.pk %}"> {{ coach }} </a></h3>

       <hr>
          </div>
        </div>

    {% endblock %}

        {% block content %}
            {% for player in players %}

            <div class="item">
                <div class="thumbnail">

                    <img src="{{ player.photo.image.url }}" alt="" class="img-responsive">
                    <div class="caption">
                        <h3><a href="{%  url 'player_detail' pk_player=player.pk pk_team=team_det.pk%}">{{ player.surname }} {{ player.name }}  {{ player.middle_name }}</a></h3>

                        <p>{{ player.text |truncatechars:150}}</p>
                        <a href="{%  url 'player_detail' pk_player=player.pk pk_team=team_det.pk%}" class="btn btn-success">Подробнее <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endblock %}
